<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="My first TestNG test suite" verbose="1" >
  <!-- <parameter name="username" value="john"/> -->
  <!--  <parameter name="password" value="demo"/>  -->
  <test name="Home Page Test">
    <packages>
      <package name="com.test.tests" />
   </packages>
 </test>
</suite>